{{ define "navbar" }}
  <nav class="navbar navbar-expand-lg" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">PicoShare</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-links"
        aria-controls="navbar-links"
        aria-expanded="false"
        aria-label="{{ .L.T "nav.toggleNavigation" }}"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-links" class="collapse navbar-collapse">
        {{ if .IsAuthenticated }}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center">
            <li class="nav-item">
              <a class="btn btn-success me-lg-2" role="menuitem" href="/"
                >{{ .L.T "nav.upload" }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" role="menuitem" href="/files"
                >{{ .L.T "nav.files" }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" role="menuitem" href="/guest-links"
                >{{ .L.T "nav.guestLinks" }}</a
              >
            </li>
          </ul>
        {{ end }}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
          {{ if .IsAdmin }}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="menuitem"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .L.T "nav.system" }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" role="menuitem" href="/files/all"
                    >{{ .L.T "nav.allFiles" }}</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" role="menuitem" href="/information"
                    >{{ .L.T "nav.information" }}</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" role="menuitem" href="/settings"
                    >{{ .L.T "nav.settings" }}</a
                  >
                </li>
              </ul>
            </li>
          {{ end }}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="menuitem"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              aria-label="{{ .L.T "nav.language" }}"
            >
              <i class="fa-solid fa-language"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {{ $currentLang := .Lang }}
              <li>
                <button
                  class="dropdown-item navbar-language-option{{ if eq $currentLang "en" }}
                    active
                  {{ end }}"
                  role="menuitem"
                  type="button"
                  data-lang="en"
                >
                  English
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item navbar-language-option{{ if eq $currentLang "zh-TW" }}
                    active
                  {{ end }}"
                  role="menuitem"
                  type="button"
                  data-lang="zh-TW"
                >
                  繁體中文
                </button>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <button
              id="theme-toggle"
              class="nav-link border-0 bg-transparent"
              type="button"
              aria-label="{{ .L.T "nav.toggleTheme" }}"
            >
              <i id="theme-toggle-icon" class="fa-solid fa-moon"></i>
            </button>
          </li>
          {{ if .IsAuthenticated }}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="menuitem"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <button
                    id="navbar-log-out"
                    class="dropdown-item"
                    role="menuitem"
                    type="button"
                  >
                    {{ .L.T "nav.logOut" }}
                  </button>
                </li>
              </ul>
            </li>
          {{ else }}
            <li class="nav-item">
              <a class="btn btn-primary" role="menuitem" href="/login">
                {{ .L.T "nav.logIn" }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
{{ end }}
