{{ define "content" }}
  <h1 class="h1">{{ .L.T "auth.heading" }}</h1>

  {{ if .LoginError }}
    <div id="error" class="my-3">
      <div class="alert alert-danger" role="alert">
        <div id="error-message">{{ .LoginError }}</div>
      </div>
    </div>
  {{ end }}

  {{ if .NeedsSetup }}
    <div class="alert alert-info" role="alert">
      {{ .L.THTML "auth.needsSetupMessage" }}
    </div>
  {{ else }}
    <a class="btn btn-primary" role="menuitem" href="/oidc/login">
      {{ .L.T "auth.logInWithSynology" }}
    </a>
  {{ end }}

  {{ if .DevLoginEnabled }}
    <div class="mt-4">
      <h3>{{ .L.T "auth.devLoginHeading" }}</h3>
      <p>{{ .L.T "auth.devLoginHint" }}</p>
      <form
        id="dev-login-form"
        class="row row-cols-auto g-2 align-items-center"
        action="/api/debug/login"
        method="post"
      >
        <div class="col">
          <label class="visually-hidden" for="dev-login-username"
            >{{ .L.T "auth.username" }}</label
          >
          <input
            class="form-control"
            id="dev-login-username"
            name="username"
            type="text"
            required
            autofocus
            placeholder="{{ .L.T "auth.username" }}"
          />
        </div>
        <div class="col">
          <input
            class="btn btn-secondary"
            type="submit"
            value="{{ .L.T "auth.devLogIn" }}"
          />
        </div>
      </form>
    </div>
  {{ end }}
{{ end }}
