{{ define "content" }}
  <h1 class="h1">{{ .L.T "entryUnlock.heading" }}</h1>
  <p>{{ .L.T "entryUnlock.prompt" }}</p>
  <form method="post">
    <div class="mb-4">
      <label class="form-label" for="passphrase"
        >{{ .L.T "entryUnlock.passphrase" }}</label
      >
      <input
        id="passphrase"
        class="form-control"
        type="password"
        name="passphrase"
        autofocus
        required
      />
    </div>
    {{ if .IncorrectPassphrase }}
      <div class="alert alert-danger" role="alert">
        {{ .L.T "entryUnlock.incorrect" }}
      </div>
    {{ end }}
    <button class="btn btn-primary">{{ .L.T "entryUnlock.download" }}</button>
  </form>
{{ end }}
